*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    border: 20px;
    background-color: navy;
    color: white;
}

body > nav {
    background-color: wheat;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 5vh;

}

body > nav > ul > li{
    display: inline-block;
    line-height: 1.4px;
}

body > nav > ul > li > a {
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;

}

body > form {
    display: block;
    margin: auto;
    height: 50vh;
    width: 50vw;
    background-color: green;
    color: black;
}

body > form input {
    display: block;
    border-radius: 10px;
    height: 5vh;
    width: 50vw;
}

.form-button {
    background-color: rgb(46, 4, 4);
    cursor: pointer;
    color: white;
}
